@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

body {
    background: #262626;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 700px;
    height: 500px;
    background: #fff;

    .imgbox {
        width: 100%;
        height: 400px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .details {
        box-sizing: border-box;
        padding: 20px;

        h3 {
            margin: 0;
            padding: 0;
            font-size: 30px;
            text-align: center;
            line-height: 20px;

            span {
                font-size: 20px;
                color: #f44336;
            }
        }
    }
}