* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .box {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 20px 0;
  background: #fff;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.container .box::before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 50%;
  background: #fff;
  z-index: 1;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.container .box::after {
  content: '';
  position: absolute;
  bottom: -100%;
  right: 0;
  height: 100%;
  width: 50%;
  background: #fff;
  z-index: 1;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.container .box img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .box:hover::before {
  top: -100% !important;
}

.container .box:hover::after {
  bottom: -100% !important;
}

.container:hover .box::before {
  top: 0;
}

.container:hover .box::after {
  bottom: 0;
}
