* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background: #111111;
}

.box {
  position: relative;
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #111111;
  border: 20px solid #151515;
  margin: 30px;
  -webkit-transition: .5s;
  transition: .5s;
}

.box h2 {
  position: relative;
  color: #fff;
  font-size: 3em;
  opacity: .1;
  -webkit-transition: .5s;
  transition: .5s;
}

.box:hover {
  -webkit-box-shadow: 0 40px 0 -20px #19b73e, 0 -40px 0 -20px #dc0028, 40px 0 0 -20px #1328db, -40px 0 0 -20px #ff560b, inset 0 40px 0 -20px #19b73e, inset 0 -40px 0 -20px #dc0028, inset 40px 0 0 -20px #1328db, inset -40px 0 0 -20px #ff560b;
          box-shadow: 0 40px 0 -20px #19b73e, 0 -40px 0 -20px #dc0028, 40px 0 0 -20px #1328db, -40px 0 0 -20px #ff560b, inset 0 40px 0 -20px #19b73e, inset 0 -40px 0 -20px #dc0028, inset 40px 0 0 -20px #1328db, inset -40px 0 0 -20px #ff560b;
}

.box:hover h2 {
  opacity: 1;
}
