* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #222;
}

ul {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transform: rotate(-25deg) skew(25deg);
}

ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 10px 10px;
}

ul li::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background: #2a2a2a;
  transform-origin: top;
  transform: skewX(-41deg);
}

ul li::after {
  content: '';
  position: absolute;
  top: 0;
  left: -9px;
  height: 100%;
  width: 9px;
  background: #2a2a2a;
  transform-origin: right;
  transform: skewY(-49deg);
}

ul li.facebook:hover span {
  background: #3b5999;
}

ul li.instagram:hover span {
  background: #e4405f;
}

ul li.twitter:hover span {
  background: #55acee;
}

ul li.reddit:hover span {
  background: #ff5700;
}

ul li.whatsapp:hover span {
  background: #25D366;
}

ul li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background: #333;
  color: rgba(255, 255, 255, 0.2);
  font-size: 30px !important;
  transition: all .2s;
}

ul li:hover span {
  z-index: 1000;
  transition: all .5s;
  color: #fff;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
}

ul li:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

ul li:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: .8;
}

ul li:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: .6;
}

ul li:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: .4;
}

ul li:hover span:nth-child(1) {
  transform: translate(0, 0);
  opacity: .2;
}
