@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'MuseoModerno', cursive;
}

section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #111111;
}

section h2 {
  font-size: 8em;
  color: #333;
}

section span {
  position: absolute;
  bottom: 10px;
  background: transparent;
  border-radius: 50%;
  pointer-events: none;
  -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
  -webkit-animation: animate 4s linear infinite;
          animation: animate 4s linear infinite;
}

section span::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0.25) translate(-70%, -70%);
          transform: scale(0.25) translate(-70%, -70%);
  background: radial-gradient(#fff, transparent);
  border-radius: 50%;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1200%);
            transform: translateY(-1200%);
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1200%);
            transform: translateY(-1200%);
    opacity: 0;
  }
}
