@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'MuseoModerno', cursive;
    min-height: 1500px;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 100vh;
        width: 100vh;
        background: #1b5e20;
        border-radius: 50%;
        transform-origin: bottom;
        transform: translateX(-50%) scale(3);
    }

    .content {
        position: relative;
        z-index: 1;
        max-width: 1000px;
        text-align: center;

        h2 {
            font-size: 2em;
        }
    }
}
