@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url(assets/wood-black.jpg);
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  position: relative;
  font-size: 9em;
  text-transform: uppercase;
  text-align: center;
  background: url(assets/wood-black.jpg);
  background-attachment: fixed;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  text-shadow: -5px 5px 20px #000, -10px 10px 30px #000, -20px 15px 40px #000, -25px 20px 50px #000;
}
