@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #112128;
}

.container {
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 62em) {
  .container {
    flex-direction: column;
  }
}

.container .card {
  position: relative;
  max-width: 450px;
  background: #fff;
  margin: 10px;
  padding: 15px;
  display: flex;
}

@media only screen and (max-width: 48em) {
  .container .card {
    flex-direction: column;
    min-width: 350px;
  }
}

.container .card .imgbox {
  max-width: 150px;
  flex: 0 0 150px;
}

@media only screen and (max-width: 48em) {
  .container .card .imgbox {
    min-width: 100%;
  }
}

.container .card .imgbox img {
  max-width: 100%;
}

.container .card .content {
  margin-left: 20px;
}

@media only screen and (max-width: 48em) {
  .container .card .content {
    margin-left: 0;
  }
}
