@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'MuseoModerno', cursive;
}

body {
  background-image: url(assets/crackers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

body * {
  z-index: 1;
}

.year {
  font-size: 200px;
  z-index: -1;
  opacity: .3;
  position: absolute;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

h1 {
  font-size: 60px;
  margin: -100px 0 40px;
}

@media only screen and (max-width: 45em) {
  h1 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 35em) {
  h1 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 28em) {
  h1 {
    font-size: 25px;
  }
}

.countdown {
  display: none;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.countdown .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px;
}

@media only screen and (max-width: 45em) {
  .countdown .time {
    margin: 10px;
  }
}

@media only screen and (max-width: 35em) {
  .countdown .time {
    margin: 5px;
  }
}

.countdown .time h2 {
  margin: 0 0 5px;
}

@media only screen and (max-width: 45em) {
  .countdown .time h2 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 35em) {
  .countdown .time h2 {
    font-size: 12px;
    margin: 0;
  }
}

@media only screen and (max-width: 28em) {
  .countdown .time h2 {
    font-size: 8px;
    margin: 0;
  }
}

@media only screen and (max-width: 35em) {
  .countdown .time small {
    font-size: 15px;
  }
}

@media only screen and (max-width: 35em) {
  .countdown .time small {
    font-size: 10px;
  }
}

@media only screen and (max-width: 28em) {
  .countdown .time small {
    font-size: 8px;
  }
}
