@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(assets/night-map.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

section::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(assets/day-map.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 5s;
  pointer-events: none;
}

section:active::before {
  width: 0;
}

.logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
}
