@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(#7d6cfc,#c635ea)
}

.action {
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .1);

    span {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #a13dea;
        font-size: 2.5em;
        transition: all .3s ease-in-out;
    }

    ul {
        position: absolute;
        bottom: 55px;
        background: #ffffff;
        min-width: 250px;
        padding: 20px;
        border-radius: 20px;
        opacity: 0;
        visibility: hidden;
        transition: all .3s;

        li {
            list-style: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 10px 0;
            transition: all .3s;
        }
    }

    &.active {
        span {
            transform: rotate(135deg);
        }

        ul {
            bottom: 68px;
            opacity: 1;
            visibility: visible;
        }

        li {
            list-style: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 10px 0;
            transition: all .5s;

            &:hover {
                font-weight: 700;
            }

            &:not(:last-child) {
                border-bottom: 1px solid rgba(0, 0, 0, .1);
            }

            img {
                width: 25px;
                margin-right: 10px;
                opacity: .8;
                transition: all .5s;


                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}