@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background: #031321;
}

a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  -webkit-transition: all .2s;
  transition: all .2s;
}

a:hover {
  color: #255784;
  background: #2196f3;
  -webkit-box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
          box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

a span {
  position: absolute;
  display: block;
}

a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#2196f3));
  background: linear-gradient(90deg, transparent, #2196f3);
}

a span:nth-child(2) {
  top: -100%;
  right: 0;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#2196f3));
  background: linear-gradient(180deg, transparent, #2196f3);
}

a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#2196f3));
  background: linear-gradient(270deg, transparent, #2196f3);
}

a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#2196f3));
  background: linear-gradient(360deg, transparent, #2196f3);
}

a:hover span:nth-child(1) {
  left: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

a:hover span:nth-child(2) {
  top: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

a:hover span:nth-child(3) {
  right: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

a:hover span:nth-child(4) {
  bottom: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: .75s;
          transition-delay: .75s;
}
