@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

body {
  background: url(assets/wood-black.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.neon {
  position: relative;
  margin: 0;
  padding: 0 20px;
  font-size: 6em;
  color: #fff;
  text-shadow: 0 0 20px #ff005b;
}

.neon::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: -1;
  color: #ff005b;
  -webkit-filter: blur(20px);
          filter: blur(20px);
}

.neon::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fe3a80;
  z-index: -2;
  opacity: .5;
  -webkit-filter: blur(40px);
          filter: blur(40px);
}
