@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000;
}

.container {
    position: relative;

    h2{
        position: absolute;
        transform: translate(-50%, -50%);
        font-size: 8rem;

        &:nth-child(1){
            color: transparent;
            -webkit-text-stroke: 2px #03a9f4;
        }

        &:nth-child(2){
            color: #03a9f4;
            animation: animate 4s ease-in-out infinite;
        }
    }
}

@keyframes animate {
    0%,100%{
        clip-path: polygon(0 41%, 22% 36%, 43% 41%, 61% 53%, 82% 55%, 100% 45%, 100% 99%, 1% 98%);
    }
    50%{
        clip-path: polygon(0 55%, 18% 66%, 38% 69%, 57% 59%, 77% 50%, 100% 52%, 100% 99%, 1% 98%);
    }
}