@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background: #000;
}

.wavy {
  position: relative;
  -webkit-box-reflect: below -1px linear-gradient(transparent, rgba(0, 0, 0, 0.15));
}

.wavy span {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 4em;
  -webkit-animation: animate 2s ease-in-out infinite;
          animation: animate 2s ease-in-out infinite;
  -webkit-animation-delay: calc(.1s * var(--i));
          animation-delay: calc(.1s * var(--i));
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  40%, 100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  40%, 100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
