@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;

    .box {
        position: relative;
        width: 450px;
        height: 320px;
        background: #000;

        .video-box{
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            video {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .content-box{
            position: absolute;
            top: 40px;
            bottom: 40px;
            right: 40px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(0, 0, 0, .95);
            transition: transform .5s;
            transform-origin: right;
            transform: scaleX(0);

            .content{
                position: relative;
                padding: 20px 60px;
                opacity: 0;

                h2 {
                    color: #fff;
                    margin-bottom: 10px;
                    font-weight: 700;
                }

                p {
                    color: #fff;
                }
            }
        }

        &:hover .content-box{
            transition: transform .5s;
            transform-origin: left;
            transform: scaleX(1);
        }

        &:hover .content{
            opacity: 1;
            transition: all .2s;
            transition-delay: .5s;
        }
    }
}