* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #011000;
}

.cirle {
  position: relative;
  width: 200px;
  height: 200px;
  background: transparent;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 30px rgba(37, 255, 11, 0.2), 0 0 0 60px rgba(37, 255, 11, 0.2), 0 0 0 90px rgba(37, 255, 11, 0.2), 0 0 0 120px rgba(37, 255, 11, 0.2), 0 0 0 150px rgba(37, 255, 11, 0.2), 0 0 0 180px rgba(37, 255, 11, 0.1);
          box-shadow: 0 0 0 30px rgba(37, 255, 11, 0.2), 0 0 0 60px rgba(37, 255, 11, 0.2), 0 0 0 90px rgba(37, 255, 11, 0.2), 0 0 0 120px rgba(37, 255, 11, 0.2), 0 0 0 150px rgba(37, 255, 11, 0.2), 0 0 0 180px rgba(37, 255, 11, 0.1);
}
