html, body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding-top: 50px;
}

.swiper-container {
  width: 840px;
  height: 600px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide .imgbox {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.swiper-slide .imgbox img {
  width: 100%;
}
