* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;

    video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transform: scale(1.13);
    }

    .navigation{
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            list-style: none;
            cursor: pointer;
            margin: 0 10px;
            border-radius: 4px;
            background: #fff;
            padding: 3px 3px 0;
            opacity: .8;
            transition: .5s;

            &:hover {
                opacity: 1;
            }

            img {
                width: 140px;
                transition: .5s;

                &:hover {
                    width: 200px;
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 0;
}