@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000;
}

.wavy {
    position: relative;
    -webkit-box-reflect: below -1px linear-gradient(transparent, rgba(0 , 0, 0, .15));

    span {
        position: relative;
        display: inline-block;
        color: #fff;
        font-size: 4em;
        animation: animate 2s ease-in-out infinite;
        animation-delay: calc(.1s * var(--i));
    }
}

@keyframes animate {
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-20px);
    }
    40%,100%{
        transform: translateY(0px);
    }
}