* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 60em) {
  .container {
    width: 800px;
  }
}

@media only screen and (max-width: 50em) {
  .container {
    width: 600px;
  }
}

@media only screen and (max-width: 37.5em) {
  .container {
    flex-direction: column;
  }
}

.container .img-box {
  position: relative;
  height: 400px;
  width: 500px;
  margin: 20px;
}

@media only screen and (max-width: 60em) {
  .container .img-box {
    height: 320px;
    width: 400px;
  }
}

@media only screen and (max-width: 50em) {
  .container .img-box {
    height: 240px;
    width: 300px;
    margin: 15px;
  }
}

@media only screen and (max-width: 37.5em) {
  .container .img-box {
    margin: 10px;
  }
}

@media only screen and (max-width: 21em) {
  .container .img-box {
    height: 200px;
    width: 250px;
    margin: 7px;
  }
}

.container .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
