* {
  margin: 0;
  padding: 0;
}

body {
  height: 200vh;
  background: #ffffff;
}

section {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url(assets/DSC_0006.JPG), linear-gradient(230deg, #f533d4, #2461bb);
  background-size: cover;
}

section .skewed {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  transform: skewY(-10deg);
  transform-origin: top left;
}
