@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background: #43a047;
}

.product {
  position: absolute;
  width: 240px;
  height: 340px;
  background: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: hidden;
}

.product:hover .details {
  bottom: 0;
  -webkit-box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.25);
}

.product .imgbox {
  height: 100%;
}

.product .imgbox img {
  display: block;
  width: 90%;
  margin: 20px auto 0;
}

.product .details {
  position: absolute;
  width: 100%;
  bottom: -145px;
  background: #fff;
  padding: 10px;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.product .details h2 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  width: 100%;
}

.product .details h2 span {
  font-size: 14px;
  color: #ccc;
  font-weight: normal;
}

.product .details .price {
  position: absolute;
  top: 25px;
  right: 20px;
  font-weight: 900;
  color: #1b5e20;
  font-size: 20px;
}

.product .details label {
  display: block;
  margin-top: 5px;
  font-weight: 900;
  font-size: 14px;
}

.product .details ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product .details ul li {
  list-style: none;
  margin: 5px;
  font-size: 13px;
  font-weight: 700;
  color: #ccc;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
}

.product .details ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.product .details ul li:first-child {
  margin-left: 0;
}

.product .details ul.colors li {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.product .details ul.colors li:nth-child(1) {
  background: #2e7d32;
}

.product .details ul.colors li:nth-child(2) {
  background: #ffeb3b;
}

.product .details ul.colors li:nth-child(3) {
  background: #f44336;
}

.product .details ul.colors li:nth-child(4) {
  background: #3949ab;
}

.product .details ul.colors li:nth-child(5) {
  background: #f4511e;
}

.product .details a {
  display: block;
  padding: 5px;
  margin: 15px 0 0;
  color: #fff;
  background: #2e7d32;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
  border: 1px solid #2e7d32;
}

.product .details a:hover {
  color: #2e7d32;
  background: #fff;
}
