@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #111;
}

.container {
  position: absolute;
  top: 75px;
  left: 75px;
  right: 75px;
  bottom: 75px;
  background: #fff;
  overflow: hidden;
}

.container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.container video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container .textbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  color: #000;
  font-size: 7em;
  line-height: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  mix-blend-mode: screen;
}

.container .textbox span {
  font-size: 1.2em;
}
