* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section h2 {
  position: relative;
  z-index: 100;
  font-size: 4em;
  color: #fff;
  text-align: center;
  max-width: 1000px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation li {
  list-style: none;
  cursor: pointer;
  margin: 5px;
}

.navigation li:hover img {
  width: 200px;
}

.navigation li img {
  width: 180px;
  border: 4px solid #fff;
  border-radius: 5px;
  transition: all .5s;
}
