@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

body {
  min-height: 100vh;
  background: #150019;
}

.navigation {
  position: fixed;
  width: 60px;
  height: 100%;
  background: #3e0748;
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
}

@media only screen and (max-width: 50em) {
  .navigation {
    left: -60px;
  }
}

.navigation.active, .navigation:hover {
  width: 260px;
}

@media only screen and (max-width: 50em) {
  .navigation.active, .navigation:hover {
    left: 0px;
    width: 100%;
  }
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  list-style: none;
}

.navigation ul li {
  position: relative;
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.navigation ul li:hover {
  background: #ea1d63;
}

.navigation ul li a {
  text-decoration: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: #fff;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  min-width: 200px;
  line-height: 60px;
  text-align: start;
}

.toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: #330748;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.toggle.active, .toggle:hover {
  background: #ea1d63;
}

.toggle::before {
  content: '\f0c9';
  font-family: fontAwesome;
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 25px;
  color: #fff;
}

.toggle.active::before {
  content: '\f00d';
}
