@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

// Responsive Breakpoint
$bp-largest: 75em;  //1200px
$bp-large: 62em;    //992px
$bp-medium: 50em;   //800px
$bp-small: 37.5em;  //600px

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}

.container {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(100px, auto);
    margin: 20px;
    grid-auto-flow: dense;
    grid-gap: 10px;

    @media only screen and (max-width: $bp-large){
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: minmax(auto, auto);
    }

    .box {
        background: #333;
        padding: 10px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        place-items: center;
        text-align: center;
        color: #fff;
        transform: all .5s;

        @media only screen and (max-width: $bp-large){
            grid-column: unset !important;
            grid-row: unset !important;
        }

        &:hover {
            background: #e91e63;
        }

        &:nth-child(1) {
            grid-column: span 2;
        }

        &:nth-child(2) {
            grid-column: span 1;
            grid-row: span 2;
        }

        &:nth-child(3) {
            grid-column: span 1;
            grid-row: span 1;
        }

        &:nth-child(4) {
            grid-column: span 1;
            grid-row: span 2;
        }

        &:nth-child(5) {
            grid-column: span 1;
            grid-row: span 1;
        }


        &:nth-child(6) {
            grid-column: span 1;
            grid-row: span 1;
        }


        &:nth-child(7) {
            grid-column: span 3;
        }

        img {
            position: relative;
            max-width: 100px;
        }
    }
}