@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;600&display=swap');

:root {
    --primary-color: #fdd835;
    --secondary-color: #388e3c;
    --dark-color: #333;
    --white: #fff;
    --black: #000;
}

// Responsive Breakpoint
$bp-large: 60em;        //960px
$bp-medium: 45em;       //720px
$bp-small: 38em;        //608px
$bp-smallest: 28em;     //448px

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'MuseoModerno', cursive;
    color: var(--black);
    line-height: 1.5;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;

    background-size: cover;
    background-position: center;
}

#date {
    font-size: 2rem;

    @media only screen and (max-width: $bp-medium){
        font-size: 2rem;
    }

    @media only screen and (max-width: $bp-small){
        font-size: 1.7rem;
    }

    @media only screen and (max-width: $bp-smallest){
        font-size: 1.3rem;
    }
}

#time {
    font-size: 6rem;

    @media only screen and (max-width: $bp-medium){
        font-size: 5.3rem;
    }

    @media only screen and (max-width: $bp-small){
        font-size: 4.5rem;
    }

    @media only screen and (max-width: $bp-smallest){
        font-size: 3.5rem;
    }
}

h1 {
    font-size: 2rem;
    margin-bottom: 2rem;

    @media only screen and (max-width: $bp-medium){
        font-size: 1.9rem;
    }

    @media only screen and (max-width: $bp-small){
        font-size: 1.7rem;
    }

    @media only screen and (max-width: $bp-smallest){
        font-size: 1.4rem;
    }
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    opacity: .8;

    @media only screen and (max-width: $bp-medium){
        font-size: 1.4rem;
    }

    @media only screen and (max-width: $bp-small){
        font-size: 1.2rem;
    }

    @media only screen and (max-width: $bp-smallest){
        font-size: 1rem;
    }
}

