* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #06181f;
}

.container {
    position: relative;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
        width: 200px;

        path{
            fill: transparent;
            stroke-width: 5;
            stroke: #31e8ff;
        }

        // animating the heart icon
        &.heart path {
            stroke-dasharray: 1560;
            stroke-dashoffset: 0;
        }

        &.heart:hover path{
            animation: animate-heart 2s linear forwards;
        }

        // animating the star icon
        &.star path {
            stroke-dasharray: 1810;
            stroke-dashoffset: 0;
        }

        &.star:hover path{
            animation: animate-star 2s linear forwards;
        }

        // animating the moon icon
        &.moon path {
            stroke-dasharray: 1810;
            stroke-dashoffset: 0;
        }

        &.moon:hover path{
            animation: animate-moon 2s linear forwards;
        }

    }


}

// keyframe for heart
@keyframes animate-heart{
    0%{
        stroke-dashoffset: 0;
    }
    40%{
        stroke-dashoffset: 1560;
    }
    80%{
        stroke-dashoffset: 3120;
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 1560;
        fill: #31e8ff;
    }
}

// keyframe for star
@keyframes animate-star{
    0%{
        stroke-dashoffset: 0;
    }
    40%{
        stroke-dashoffset: 1560;
    }
    80%{
        stroke-dashoffset: 3620;
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 3620;
        fill: #31e8ff;
    }
}

// keyframe for moon
@keyframes animate-moon{
    0%{
        stroke-dashoffset: 0;
    }
    40%{
        stroke-dashoffset: 1560;
    }
    80%{
        stroke-dashoffset: 3620;
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 3620;
        fill: #31e8ff;
    }
}