@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

body {
  height: 200vh;
  background: #111111;
}

section {
  position: absolute;
  width: 100%;
  height: calc(100% - 200px);
  background: #2abbff;
}

section .curve {
  position: absolute;
  bottom: -200px;
  height: 200px;
  width: 100%;
  transform-origin: top;
}

section .curve img {
  height: 100%;
  width: 100%;
}
