@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background: #16384c;
  font-family: 'Roboto', sans-serif;
}

.container {
  position: relative;
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px;
}

.container .card {
  position: relative;
  max-width: 320px;
  height: 250px;
  background: #fff;
  margin: 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.container .card:hover {
  height: 360px;
}

.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -20px;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.container .card .imgbox {
  position: relative;
  height: 260px;
  width: 260px;
  top: -40px;
  left: 30px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.container .card .imgbox img {
  max-width: 100%;
  border-radius: 4px;
}

.container .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
