* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #000;
}

.loader {
  position: relative;
  height: 200px;
  width: 200px;
  overflow: hidden;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.loader:hover {
  background: #03e9f4;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

.loader span {
  position: absolute;
  display: block;
}

.loader span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 40px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
  animation-delay: 0;
}

.loader span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 40px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: .5s;
}

.loader span:nth-child(3) {
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 40px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0;
}

.loader span:nth-child(4) {
  top: 100%;
  left: 0;
  width: 40px;
  height: 100%;
  background: linear-gradient(0deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: .5s;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

@keyframes animate3 {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes animate4 {
  0% {
    top: 100%;
  }
  100% {
    top: -100%;
  }
}
