@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(assets/bg.jpg);
  background-size: cover;
  background-position: bottom;
}

.banner .clouds {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.banner .clouds img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  -webkit-animation: animate calc(8s * var(--i)) linear infinite;
          animation: animate calc(8s * var(--i)) linear infinite;
}

section {
  position: relative;
  padding: 75px 100px;
}

section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
