@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #111;
}

.container {
  position: relative;
  width: 600px;
  height: 400px;
  background: #222222;
  border: 4px solid #fff;
}

.container .clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.container .clip .content {
  position: absolute;
  bottom: -100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70%;
  padding: 5px 20px;
  background: #fff;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.container .clip:hover .content {
  bottom: 0;
  opacity: 1;
}

.container .clip.clip1 {
  background: url(assets/Mohana.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 55% 0, 20% 100%, 0% 100%);
          clip-path: polygon(0 0, 55% 0, 20% 100%, 0% 100%);
}

.container .clip.clip2 {
  background: url(assets/Digha-gate.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(55% 0, 100% 0, 45% 100%, 20% 100%);
          clip-path: polygon(55% 0, 100% 0, 45% 100%, 20% 100%);
}

.container .clip.clip3 {
  background: url(assets/sunsate-helipad.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 45% 100%);
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 45% 100%);
}

.container:hover .clip {
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.container .clip:hover {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
