@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Balsamiq Sans', cursive;
  font-weight: normal;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background: #101010;
}

.container {
  position: relative;
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .card {
  position: relative;
  width: 250px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1b1b1b), color-stop(#222), to(#1b1b1b));
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

.container .card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.container .card:hover .parcent .number h2 {
  color: #fff;
  font-size: 50px;
}

.container .card::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
  pointer-events: none;
  z-index: 1;
}

.container .card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #00ff43;
}

.container .card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 82) / 100);
  stroke: #00a1ff;
}

.container .card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 38) / 100);
  stroke: #ff04f7;
}

.container .card .box .parcent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 50px #000;
          box-shadow: inset 0 0 50px #000;
  background: #222222;
  z-index: 1000;
}

.container .card .box .parcent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.container .card .box .parcent .number h2 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  -webkit-transition: .5s;
  transition: .5s;
}

.container .card .box .parcent .number h2 span {
  font-size: 24px;
  color: #777;
}

.container .card .box .text {
  position: relative;
  color: #777;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  -webkit-transition: .5s;
  transition: .5s;
}

.container .card:hover .parcent .number h2 {
  color: #fff;
  font-size: 50px;
}

.container .card:hover .parcent .number h2 span {
  color: #fff;
}

.container .card:hover .text {
  color: #fff;
}

svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}
