@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MuseoModerno', cursive;
}

body {
    background: #061c2d;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .reveal {
        position: relative;
        color: #fff;
        font-size: 2em;
        padding: 0 10px;
        font-weight: 500;
        transform-origin: left;
        transform: scaleX(0);
        transition: .5s;
        transition-delay: .5s;

        &.active {
            transform: scaleX(1);   
            transition-delay: 0s;

            &::before {
                transform: scaleX(0);
                transition-delay: .5s;
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #1b5e20;
            transform-origin: right;
            transition: .5s;
            transition-delay: 0s;
        }

        &:nth-child(2) {
            font-weight: 300;
            font-size: 1.2em;
            letter-spacing: 2px;
            display: inline-block;
            margin-top: 5px;

            &::before {
                background: #ffeb3b;
            }
        }
    }

    img {
        position: relative;
        left: -100px;
        display: block;
        max-width: 300px;
        margin-left: 10px;
        margin-top: 20px;
        opacity: 0;
        transition: .5s;

        &.active {
            left: 0;
            opacity: 1;
        }
    }
}

