@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;600&display=swap");
:root {
  --primary-color: #fdd835;
  --secondary-color: #388e3c;
  --white: #fff;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'MuseoModerno', cursive;
  font-size: 17px;
  color: var(--primary-color);
  line-height: 1.6;
}

#showcase {
  background: url(assets/Mohana.jpg);
  background-size: cover;
  background-position: center;
  height: 96vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 20px;
}

#showcase h1 {
  font-size: 45px;
  line-height: 1.2;
}

#showcase p {
  font-size: 20px;
}

#showcase .button {
  font-size: 18px;
  text-decoration: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 5px 15px;
  margin-top: 20px;
  font-weight: 600;
  border-radius: 5px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#showcase .button:hover {
  background: var(--primary-color);
  color: var(--black);
}

#section-a {
  padding: 20px;
  color: var(--black);
  background: var(--primary-color);
  text-align: center;
}

#section-b {
  padding: 20px;
  background: var(--secondary-color);
}

#section-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-c .box-1, #section-c .box-3 {
  padding: 20px;
  color: var(--black);
  background: var(--primary-color);
}

#section-c .box-2 {
  padding: 20px;
  color: var(--white);
  background: var(--black);
  text-align: center;
}
