* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
}

.container .section {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #000000;
}

.container .section:nth-child(1) {
  background: url(assets/elephant-in-water-full.jpg);
  background-position: center;
  background-size: cover;
}

.container .section:nth-child(2) {
  background: url(assets/gray-bridge-and-trees-full.jpg);
  background-position: center;
  background-size: cover;
}

.container .section:nth-child(3) {
  background: url(assets/landscape-nature-sky-full.jpg);
  background-position: center;
  background-size: cover;
}

.container .section:nth-child(4) {
  background: url(assets/palm-trees-on-beach-full.jpg);
  background-position: center;
  background-size: cover;
}

.container .section:nth-child(5) {
  background: url(assets/power-station-full.jpg);
  background-position: center;
  background-size: cover;
}

.container .section:nth-child(6) {
  background: url(assets/road-landscape-nature-full.jpg);
  background-position: center;
  background-size: cover;
}
