* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #042104;
  -webkit-animation: bgAnimation 10s linear infinite;
          animation: bgAnimation 10s linear infinite;
}

section .loader {
  position: relative;
  width: 120px;
  height: 120px;
}

section .loader span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(calc(18deg * var(--i)));
          transform: rotate(calc(18deg * var(--i)));
}

section .loader span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00ff0a;
  -webkit-box-shadow: 0 0 10px #00ff0a, 0 0 20px #00ff0a, 0 0 40px #00ff0a, 0 0 60px #00ff0a, 0 0 80px #00ff0a, 0 0 100px #00ff0a;
          box-shadow: 0 0 10px #00ff0a, 0 0 20px #00ff0a, 0 0 40px #00ff0a, 0 0 60px #00ff0a, 0 0 80px #00ff0a, 0 0 100px #00ff0a;
  -webkit-animation: loadingAnimation 2s linear infinite;
          animation: loadingAnimation 2s linear infinite;
  -webkit-animation-delay: calc(.1s * var(--i));
          animation-delay: calc(.1s * var(--i));
}

@-webkit-keyframes bgAnimation {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes bgAnimation {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes loadingAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes loadingAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
