@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #031321;
}

a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: all .2s;

    &:hover {
        color: #255784;
        background: #2196f3;
        box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
        transition-delay: 1s;
    }

    span {
        position: absolute;
        display: block;

        &:nth-child(1) {
            top: 0;
            left: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg, transparent, #2196f3);
        }

        &:nth-child(2) {
            top: -100%;
            right: 0;
            height: 100%;
            width: 2px;
            background: linear-gradient(180deg, transparent, #2196f3);
        }

        &:nth-child(3) {
            bottom: 0;
            right: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(270deg, transparent, #2196f3);
        }

        &:nth-child(4) {
            bottom: -100%;
            left: 0;
            height: 100%;
            width: 2px;
            background: linear-gradient(360deg, transparent, #2196f3);
        }
    }

    &:hover {
        span {
    
            &:nth-child(1) {
                left: 100%;
                transition: 1s;
            }

            &:nth-child(2) {
                top: 100%;
                transition: 1s;
                transition-delay: .25s;
            }

            &:nth-child(3) {
                right: 100%;
                transition: 1s;
                transition-delay: .5s;
            }

            &:nth-child(4) {
                bottom: 100%;
                transition: 1s;
                transition-delay: .75s;
            }
        }
    }
}