* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f4faff;
  overflow: hidden;
}

.earth {
  position: relative;
  width: 400px;
  height: 400px;
  background: #0588e4 url(assets/earth.png);
  background-size: cover;
  border-radius: 50%;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  animation: animate 12s linear infinite;
}

.earth::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(assets/cloud.png);
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  animation: animate 8s linear infinite;
}

.earth:active {
  transform: scale(4.5);
}

.earth:active img {
  transform: rotate(-90deg) scale(0.2);
}

.earth img {
  transform: rotate(-90deg);
  position: absolute;
  width: 200px;
  right: 10%;
  z-index: 1;
  transition: .5s;
  pointer-events: none;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 719px 0;
  }
}
