* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(assets/bg1.jpg);
    background-size: cover;
    background-position: center;
    clip-path: circle(150px at var(--x) var(--y));
}