* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
  }
  
body {
background: #0a2a43;
min-height: 1500px;
}
  
section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top, #0a2a43, transparent);
        z-index: 10000000;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #0a2a43;
        z-index: 10000;
        mix-blend-mode: color;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        pointer-events: none;
    }
}

#text{
    position: relative;
    color: #fff;
    font-size: 10em;
    z-index: 1;
}

#road{
    z-index: 2;
}

.description{
    color: #fff;
    padding: 100px;

    &__heading{
        padding-left: 10px;
    }

    &__paragraph{
        padding-top: 10px;
    }
}
