@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000;
}

a {
    position: relative;
    padding: 10px 30px;
    margin: 0 20px;
    color: #21ebff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    transition: all .5s;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0003);

    &:nth-child(1) {
        filter: hue-rotate(115deg);
    }

    &:nth-child(3) {
        filter: hue-rotate(270deg);
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        border-top: 2px solid #21ebff;
        border-left: 2px solid #21ebff;
        transition: all .5s;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 10px;
        height: 10px;
        border-bottom: 2px solid #21ebff;
        border-right: 2px solid #21ebff;
        transition: all .5s;
    }

    &:hover {
        background: #21ebff;
        color: #111;
        box-shadow: 0 0 50px #21ebff;
        transition-delay: .5s;

        &::before {
            width: 100%;
            height: 100%;
        }

        &::after {
            width: 100%;
            height: 100%;
        }
    }
}